<div class="container text-center">
  Liste de mes annonces favorites :
  <div class="row">
    <% @favs.each do |fav| %>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
          <h3><%= fav.annonce.title %></h3>
          <h2><%= fav.annonce.turnover %>€</h2>
          <p><%= cl_image_tag fav.annonce.picture %></p>
          <p><%= fav.annonce.city %></p>

        </div>
    <% end %>
  </div>
</div>

