// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

.jumbo {
  background-image: url('./image.jpg');
}

.jumbo h1 {
  color:white;
  margin: 0 auto;
}

.accroche {
  padding: 200px 0px;
}
