// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "components/index";
@import "pages/index";
@import "layout/index";
@import "vendor/index";

.jumbo {
  background-image: image-url("Pharma.jpg");
  background-position: center;
  position:relative;
  &-filter {
    background: rgba(#7474BF, 0.4);
    background: -webkit-linear-gradient(to left, rgba(#7474BF, 0.4) , rgba(#348AC7, 0.4));
    background: linear-gradient(to left, rgba(#7474BF, 0.4) , rgba(#348AC7, 0.4) );
  }
}

.accroche h1 {
  color:white;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.accroche {
  padding: 200px 0px;
  text-shadow: 0px 0px 20px #000;
}

#map {
  display: flex;
  height: 100vh;
  width: 100%;
}

.searchbar {
  padding:25px 0px;
  background-color: rgba(#000, 0.7);
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
}

.btn-primary {
  font-family: 'Roboto', sans-serif;
}

.placeholder-font {
  font-family: 'Roboto', sans-serif;
}

.home-title-annonce {
  height:100px;
}

.thumbnail {
  padding:0px;
  margin:0px;
  box-shadow:0px 0px 5px #000;
}

.thumbnail > img {
  margin:0px;
  border: 0px solid;
}

.thumbnail-content {
  padding:20px 4px;
  font-size:20px;
}

.catchphrase {
  padding:20px;
}

.navbar-wagon-logo {
    width: 200px;
}


// start index annonces show
.left {
  position: fixed;
  top: 140px;
  left: 0;
  bottom: 0;
  width: 60%;
  overflow-y: scroll;
}

.right {
  position: fixed;
  width: 40%;
  right: 0;
  bottom: 0;
  top: 70px;
}

@media screen and (max-width:500px) {
  .right {
    display:none;
  }
  .left {
    width: 100%;
  }
}
// end

// start fixed header
.header {
  position: fixed;
  top:70px;
  background-color:#ECEBE4;
  width:60%;
  padding:10px 0px;
}
// end

// start header
.searchbar-index-annonces {
  display:inline-block;
}

.header-left {
  display:inline-block;
  font-size:16px;
}
//end


.content {
  padding:0px 20px;
}
